/* Add your custom styles here */

body {
  padding-top: 56px; /* Adjust for the fixed navbar height */
}

.hero,
.achievements,
.background,
.game {
  padding: 80px 0;
}


.bg-blue {
  background: linear-gradient(to right, #007bff, #00bcd4); /* Gradient background */
  color: #fff; /* White text color */
  padding: 80px 0; /* Adjust padding as needed */
}

.bg-blue button {
  background-color: #fff; /* White button background */
  color: #007bff; /* Blue button text color */
  font-weight: bold;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.bg-blue button:hover {
  background-color: #007bff; /* Blue hover background */
  color: #fff; /* White hover text color */
}

/* Style for the initially hidden message */
.hidden-message {
  display: none;
}
/* Optional: Add more custom styling based on your preferences */
